.container {
    height: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;

    /*background-color: bisque;*/
}