.contactDescr {
    width: 305px;
    align-items: center;
    margin-right: 10px;

    font-weight: 500;
    font-size: 21px;
}

.contactBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: #f44336;

    /*height: 22px;
        padding-right: 6px;
        border-radius: 5px;
        border: solid 1px rgb(177, 173, 173);*/
}